#invisible {
    width: 1px;
    height: 1px;
    position: fixed;
    left: -10000px;
    top: -10000px;
}

#puzzle_container {
    margin-top: 10px;
}

#progress_container {
  width: 80%;
}

code{
  padding: 0;
  font-size: auto;
  color: auto;
  background-color: none;
  border-radius: 0;
}