body {
    margin: 100px;
}
#invisible {
    width: 1px;
    height: 1px;
    position: fixed;
    left: -10000px;
    top: -10000px;
}
#wrapper {
    height: 64px;
}
#upload_button {
    display: inline-block;
    margin: 8px;
    cursor: pointer;
}

#status_container {
    margin-top: 10px;
}
#puzzle_container {
    margin-top: 10px;
}
