<!DOCTYPE html>
<html>
<head>
    <title>Processing puzzle</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    Processing...
<script type="text/javascript">
$(function pollServerForSolution() {
  $.post('/processing/', { job_id : '{{ job_id }}' })
	.done(function (response) {
	if(response.status == 'finished')
	{window.location.href = response.url}
	else
	{setTimeout(pollServerForSolution, 3000);}
	});
}());
</script>
</body>
</html>